*{
    margin: 0;
    padding: 0;
}

.container{
    width: 30%;
    height: 50%;
    margin: 5% auto;
    text-align: center;
    background-image: url('table.png');
    background-size:cover;
    padding: 10%;
    transition: 1s;
   
}
.container:hover{
    transform: scale(1.1)
}
@media screen and (max-width: 650px){
    .container{
        width:65%;
        padding: 10%;
    }
    .container:hover{
        transform: none;
    }
}
h1{
    font-family: arial;
    font-size: 3rem;
    color: gold;
    margin: 15px 0;
}
h3{
    font-size: 1.7rem;
    color: white;
    margin: 10px 0;

}
p{
    color: gold;
    font-size: 1.3rem;
}
.btn{
    background: orange;
    color: white;
    padding: 0.5em 0.8em;
    border: none;
    transition: 1s;
    margin: 10px;
}
.btn:hover{
    background: gold;
    color: black;
    cursor: pointer;
    transform: scale(0.8)
    
}
#player-el, #bet{
    color: orange;
}
#player-el{
    margin-top: 30px;
}
span:hover{
    color: gold;
    cursor: pointer;
}